%p#alert= alert
%p#notice= notice
%h1 See your new feed
.container
  .row
    .col-11
      -@feedpost.each do |post|
        .col
          .d-flex.p-2.border.border-dark.rounded
            Username : #{User.find(post.user_id).name} 
            <br>
            Message : #{post.message} <br>
            .col
            = render 'likeModal', p: post
            %button.btn.btn-primary{"data-bs-target" => "#p#{post.id}", "data-bs-toggle" => "modal", type: "button"} see who's like this post

            - if Like.find_by(post_id: post.id,likeUser: session[:user_id]) == nil
              = button_to 'Like', '/like', params: {pid: post.id}, class: 'btn btn-dark'
            - else
              = button_to 'Unlike', '/unlike', params: {pid: post.id}, class: 'btn btn-outline-dark'
        %p
    .col
      = link_to 'Post', :new_post, class: 'btn btn-outline-dark '